---
layout: default
---

<!DOCTYPE html>
<html lang="en">
		<section class="bg-dark">
			<div class="text-center">
				<h1>{{ page.title }}</h1>
        <h3>{{ page.author}}</h3>
			</div>
		</section>
		<head>
		<title>GOKU</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/character_stylesheet.css" type="text/css">
		<style>
			body {
			  background-image: url("https://i.pinimg.com/originals/cc/91/6d/cc916d6a473fa29ec751d1d8a2d769f9.png");
			  background-repeat: no-repeat;
			  background-attachment: fixed;
			  background-size: cover;
			}
		</style>
	</head>
	<body>
		<div>
			<h1 align="center">SON GOKU!</h1>
		</div>
		<div align="center">
			<img src=https://pbs.twimg.com/media/ETPTKeUUcAU9ACs.jpg>
		</div>
		<div class="good" align="center">A "Good" Character</div>
		<div>
			<p>Goku is the main protagonist in the Dragon Ball franchise and one of the strongest fighters in the universe. He is a Saiyan warrior whose original name was Kakarot, son of Bardock. He is the husband of Chi Chi, and the father of Gohan and Goten. He is also Grandfather to Pan.</p>
		</div>
		<div>
			<h5>Goku's transformations: </h5>
		</div>
		<div>
        	<ul>
            	<li>Super Saiyan</li>
            	<li>Super Saiyan 2</li>
				<li>Super Saiyan 3</li>
        	</ul>
		</div>
		<div>
			<h5>Goku's signature moves:</h5>
		</div>
		<div>
        	<ul>
            	<li>Kamehameha</li>
            	<li>Kaio-ken</li>
				<li>Spirit Bomb</li>
				<li>Instant Transmission</li>
				<li>Dragon Fist</li>
        	</ul>
		</div>
		<div>
			<h5>More characteristics:</h5>
		</div>
		<div>
        	<table>
            	<tr>
                	<th>Alias</th>
                	<th>Occupation</th>
                	<th>Mentor</th>
            	</tr>
            	<tr>
                	<td>Kakarot</td>
					<td>Martial Artist</td>
					<td>Master Roshi</td>
            	</tr>
        	</table>
		</div>
		<div>
			<h5>Most epic Goku moment!</h5>
		</div>
		<div>
			<iframe width="854" height="480" src="https://www.youtube.com/embed/WeXUgF2qEuk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div>
			<h5>Appearances:</h5>
		</div>
		<div class="container">
		  <div class="row">
		    <div class="col"><p>Saiyan Saga</p></div>
		    <div class="col"><p>Frieza Saga</p></div>
		    <div class="col"><p>Android Saga</p></div>
			<div class="col"><p>Cell Saga</p></div>
			<div class="col"><p>Buu Saga</p></div>
		  </div>
		  <div class="row">
		    <div class="col"><p>X</p></div>
		    <div class="col"><p>X</p></div>
			<div class="col"><p>X</p></div>
			<div class="col"><p>X</p></div>
			<div class="col"><p>X</p></div>
		  </div>
		</div>
      {% include footer.html %}
</html>
