---
layout: default
---

<!DOCTYPE html>
<html lang="en">
		<section class="bg-dark">
			<div class="text-center">
				<h1>{{ page.title }}</h1>
        <h3>{{ page.author}}</h3>
			</div>
		</section>
      <div class="content bg-dbz-2 center padding headerimage blogimage">
        <img src=https://c7.uihere.com/files/579/257/145/gohan-goku-vegeta-frieza-trunks-goku.jpg width="400" height="475">
        {{content}}
        <img src=https://blob.apliiq.com/sitestorage/artwork/101047/original/5a0f6ae6-bb7f-46e1-ad84-bfd7b6a506f0.png width="150" height="150">
      </div>
      {% include footer.html %}
</html>
